/* Google API Font */
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */

/* Local Font */
/* @font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./fonts/MyFont.woff) format('woff');
}  */

/* NPM Font */
/* npm install @fontsource/roboto */
/* Import .css in index.js */

body {
  height: 100vh !important;
}

#root {
  height: 100%;
}